@import "tailwindcss";

.border-panel {
    @apply border border-zinc-400
}

.std-head {
    @apply w-full h-10 border border-zinc-600 flex bg-zinc-900
}
.std-head-1 {
    @apply w-full h-8 flex border-[0.5px] border-zinc-700 items-center
}

.flex-mid {
    @apply flex justify-center items-center
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #1f1f1f;
}

/* Thumb (handle) */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
